body{
	background-color: rgb(30,30,30);
}
h1{
	margin: 15px;
}
h3,p{
	color: rgb(240,240,240);
	word-wrap: break-word;
}
i {
	color: #512da8;
}


/* <-- CONTAINERS --> */
.container{
	width: 100%;
}

@media (min-width: 1650px) {
	.container{
    	width: 75%;
	}
}

.modal-body > p{
	color: black;
}

/* <-- CARDS --> */
.card{
	height: 190px;
	margin: 20px 0;
	border-color: #512da8;
}
.card:hover{
	border-color: rgb(48,25,100);
}

.card-block > p{
	position: absolute;
	bottom: 0px;
	left: 2%;
}
.card-block:hover{
	background-color: rgba(48,25,100,0.77) !important;
}

/* CARD STATUS */
#offline{
	margin: auto;
	font-size: 120%;
}

/* <-- FOOTER --> */
#footer{
	margin: 5%;
}
#footer > h5{
	font-size: 120%;
	color: rgba(200,200,200,0.5);
}
#footer > h5 > a{
	color: #512da8;
}