body{
	background-color: rgb(30,30,30);
}
h1{
	margin: 15px;
}
h3,p{
	color: rgb(240,240,240);
	word-wrap: break-word;
}
i {
	color: black;
}
#new{
	margin: 30px auto;
}
.fa-times{
	color: red;
}
hr{
	width: 100%;
	background-color: rgb(40,40,40);
}

/* <-- CONTAINERS --> */
.container{
	padding: 0px !important;
	width: 100%;
}
#cardholder{
	max-width: 1380px;
}
.modal-body > p{
	color: black;
}

/* <-- CARDS --> */
.card{
	height: 210px;
	margin: 12px 0;
	border-color: #512da8;
}
.card:hover{
	border-color: rgb(48,25,100);
}

.card-block > p{
	position: absolute;
	bottom: 0px;
	left: 2%;
}
.card-block:hover{
	background-color: rgba(48,25,100,0.77) !important;
}
.remove-stream{
	position: absolute;
 	bottom: 10px;
 	right: 10px;
	padding: 5px 14px;
	opacity: 0;
	background-color: rgb(30,30,30);
	border-radius: 5px;
}
.card-block:hover .remove-stream{
	opacity: 0.8;
}

/* CARD STATUS */
#offline{
	margin: auto;
	font-size: 120%;
}

/* <-- FOOTER --> */
#footer{
	width: 100%;
}
#footer > h5{
	font-size: 120%;
	color: rgba(200,200,200,0.5);
}
#footer > h5 > a{
	color: #512da8;
}